/*--------------travel destinations list-------------
---------------------------------------------------*/
.destinations_list {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
