/*--------------header-------------
----------------------------------*/
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-family: "Kalam", cursive;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #86513e;
}

.nav_links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav_links > .nav_link {
  padding: 0 1rem;
}

.nav_link.active a {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid brown;
}

.nav_links > .nav_link > a {
  text-decoration: none;
  color: #86513e;
  transition: color 0.2s;
}

.nav_links > .nav_link > a:hover,
.nav_links > .nav_link > a:active {
  color: #402015;
  transition: color 0.1s;
}
